<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>

<body>
    <p>
        <a href="{% url 'index' %}"><h1> MoubShop</h1></a>
        {% if user.is_authenticated %}
            {{ user.username }}
          <a href="{% url 'logout' %}">Deconnexion</a>
        {% else %}
              <a href="{% url 'signup' %}">S'inscrire</a>
             <a href="{% url 'login' %}">Connexion</a>
        {% endif %}

        {% if user.cart %}   
        <!-- afficher le panier -->
            <a href="{% url 'cart' %}">Mon panier ({{user.cart.orders.count}}) </a>
        {% endif %}
    </p>

    


    {% block content %}
    {% endblock %}

</body>
</html>